@model TokuCinema.Models.MediaFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MediaFile1)
        </dt>

        <dd>
            @*Display picture if picture, do nothing if video - we can change this later*@
            @if (Model.MediaFile1 != null && Model.Image == true)
            {
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.MediaFile1,0,Model.MediaFile1.Length)" width="100" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoRelease.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoRelease.CatalogCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaFielId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
