<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toku Cinema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/dashboard-theme/css")
    @Styles.Render("~/Content/jquery-ui.css")

</head>
<body class="background-godzilla2">
    <div class="navbar navbar-inverse navbar-fixed-top strokeme">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Toku Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @*Nav*@
    <div class="container-fluid strokeme col-lg-2">
        <div class="row">
            <div id="contentNav" class="visible-lg sidebar">
                <h3>Content Navigation</h3>
                <div class="form-group-sm ui-widget">
                    <input id="tagsHome" class="form-control" placeholder="Search...">
                </div>
                @*Ajax*@
                <button class="btn specialButton" onclick="ajaxMethodToElement('MovieIndex', 'VideoMedias', 'bodyContainer', '');">Movie Info</button>
                @*Not Ajax*@
                @Html.ActionLink("Reviews", "Index", "VideoReviews", null, new { @class = "btn btn-custom specialButton" })
            </div>
        </div>
    </div>

    @*Content / Body*@
    <div class="col-lg-10 main" style="min-height: 1080px;">
        <div id="bodyContainer" class="container body-content back-gloss-light">
            @RenderBody()
        </div>

        @*Custom Breadcrumb Nav*@
        <nav class="breadCrumb-nav strokeme">
            <div class="col-xs-6">
                <div id="goBack" class="btn btn-lg"><span class="glyphicon glyphicon-chevron-left glyphicon-align-left"></span></div>
            </div>
            <div class="col-xs-6">
                <div id="goForward" class="btn btn-lg"><span class="glyphicon glyphicon-chevron-right glyphicon-align-right"></span></div>
            </div>
        </nav>
        
        <hr />
        <footer>
            <p class="strokeme">&copy; @DateTime.Now.Year - Toku Cinema</p>
        </footer>
    </div>

        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/layoutFrontScript.js"></script>

</body>
</html>
