<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toku Cinema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/dashboard-theme/css")
    @Styles.Render("~/Content/jquery-ui.css")
    @*<script src="~/Scripts/ajax-helpers.js"></script>*@

</head>
<body class="background-godzilla2">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Toku Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="strokeme">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>

    @*Nav*@
    <div class="container-fluid strokeme">
        <div class="row">
            <div class="btn showButton" id="showNav"><span class="glyphicon glyphicon-chevron-right"></span></div>
            <div id="contentNav" class="col-sm-3 col-md-2 frontSidebar" style="display: none;">
                <h3>Content Navigation</h3>
                <div class="form-group-sm ui-widget">
                    <input id="tagsHome" class="form-control" placeholder="Search...">
                </div>
                @*Ajax*@
                <button class="btn specialButton" onclick="ajaxMethodToElement('MovieIndex', 'VideoMedias', 'bodyContainer', '');">Movie Info</button>
                @*Not Ajax*@
                @Html.ActionLink("Reviews", "Index", "VideoReviews", null, new { @class = "btn btn-custom specialButton" })
                <div class="btn" id="hideNav" style="font-size: 30px; margin-top: 50px;"><span class="glyphicon glyphicon-chevron-left"></span></div>
            </div>
        </div>
    </div>

    @*Content / Body*@
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main background-godzilla2" style="min-height: 1080px;">
        <div id="bodyContainer" class="container body-content back-gloss-light">
            @RenderBody()
        </div>

        @*Custom Breadcrumb Nav*@
        <nav class="breadCrumb-nav strokeme">
            <div class="col-md-6">
                <div id="goBack" class="btn btn-lg"><span class="glyphicon glyphicon-chevron-left glyphicon-align-left"></span></div>
            </div>
            <div class="col-md-6">
                <div id="goForward" class="btn btn-lg"><span class="glyphicon glyphicon-chevron-right glyphicon-align-right"></span></div>
            </div>
        </nav>
        
        <hr />
        <footer>
            <p class="strokeme">&copy; @DateTime.Now.Year - Toku Cinema</p>
        </footer>
    </div>

        @RenderSection("scripts", required: false)

        @*jQuery UI*@
        <script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/layoutFrontScript.js"></script>

</body>
</html>
