<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toku Cinema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/dashboard-theme/css")
    
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Toku Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <h2>Core</h2>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Dashboard Home", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Media", "Index", "Media")</li>
                    <li>@Html.ActionLink("Video Media", "Index", "VideoMedias")</li>
                    <li>@Html.ActionLink("Video Release", "Index", "VideoReleases")</li>
                    <li>@Html.ActionLink("Video Review", "Index", "VideoReviews")</li>
                </ul>
                <h2>Types</h2>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Region Types", "Index", "RegionTypes")</li>
                    <li>@Html.ActionLink("Video Box Set Types", "Index", "VideoBoxSetTypes")</li>
                    <li>@Html.ActionLink("Standard Types", "Index", "StandardTypes")</li>
                    <li>@Html.ActionLink("Format Types", "Index", "FormatTypes")</li>
                    <li>@Html.ActionLink("Video Version Types", "Index", "VideoVersionTypes")</li>
                    <li>@Html.ActionLink("Languages", "Index", "Languages")</li>
                    <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                    <li>@Html.ActionLink("Distributors", "Index", "Distributors")</li>
                    <li>@Html.ActionLink("Packagings", "Index", "Packagings")</li>
                    @*<li>@Html.ActionLink("Subtitle Track Type", "Index", "SubtitleTrackType")</li>
                    <li>@Html.ActionLink("Audio Track Type", "Index", "AudioTrackType")</li>
                    <li>@Html.ActionLink("Shopping Item Type", "Index", "ShoppingItemType")</li>*@
                </ul>
                <h2>Others</h2>
                <ul class="nav nav-sidebar">
                    <li>@Html.ActionLink("Regions", "Index", "Regions")</li>
                    <li>@Html.ActionLink("Video Box Sets", "Index", "VideoBoxSets")</li>
                    <li>@Html.ActionLink("Standards", "Index", "Standards")</li>
                    <li>@Html.ActionLink("Formats", "Index", "Formats")</li>
                    <li>@Html.ActionLink("Video Versions", "Index", "VideoVersions")</li>
                    <li>@Html.ActionLink("Audio Tracks", "Index", "AudioTracks")</li>
                    <li>@Html.ActionLink("Subtitle Tracks", "Index", "SubtitleTracks")</li>
                    <li>@Html.ActionLink("Shopping Items", "Index", "ShoppingItems")</li>
                    <li>@Html.ActionLink("Media Files", "Index", "MediaFiles")</li>
                </ul>
            </div>

                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main background-godzilla1" style="min-height: 1080px;">
                        <div class="container body-content back-gloss-light">
                            @RenderBody()
                            <hr />
                            <footer>
                                <p>&copy; @DateTime.Now.Year - Toku Cinema</p>
                            </footer>
                        </div>
                    </div>

            </div>
    </div>

    @*@Scripts.Render("~/bundles/dashboardScripts")*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>