<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toku Cinema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/dashboard-theme/css")
    <script src="~/Scripts/ajax-helpers.js"></script>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Toku Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid strokeme">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <h1>Quick Navigation</h1>
                <div>
                    <input type="search" id="searchBox" class="form-control" placeholder="Search...">
                </div>
                @*Core Forms*@
                <a href="javascript:;" data-toggle="collapse" data-target="#coreDropdown"><h3>Core <span class="glyphicon glyphicon-chevron-down"></span></h3></a>
                <ul class="nav nav-sidebar">
                    <li>
                        <ul id="coreDropdown" class="collapse" style="list-style:none;">
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Dashboard', 'bodyContainer', '');">Dashboard Main</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Media', 'bodyContainer', '');">Media</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoMedias', 'bodyContainer', '');">Video Media</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoReleases', 'bodyContainer', '');">Video Relases</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoReviews', 'bodyContainer', '');">Video Reviews</button></li>
                        </ul>
                    </li>
                </ul>

                @*Type Forms*@
                <a href="javascript:;" data-toggle="collapse" data-target="#typeDropdown"><h3>Types <span class="glyphicon glyphicon-chevron-down"></span></h3></a>
                <ul class="nav nav-sidebar">
                    <li>
                        <ul id="typeDropdown" class="collapse" style="list-style:none;">
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'RegionTypes', 'bodyContainer', '');">Region Types</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoBoxSetTypes', 'bodyContainer', '');">Video Box Set Types</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'StandardTypes', 'bodyContainer', '');">Standard Types</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'FormatTypes', 'bodyContainer', '');">Format Types</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoVersionTypes', 'bodyContainer', '');">Video Version Types</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Languages', 'bodyContainer', '');">Languages</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Companies', 'bodyContainer', '');">Companies</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Distributors', 'bodyContainer', '');">Distributors</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Packagings', 'bodyContainer', '');">Packagings</button></li>
                        </ul>
                    </li>
                </ul>


                @*Other Forms*@
                <a href="javascript:;" data-toggle="collapse" data-target="#otherDropdown"><h3>Others <span class="glyphicon glyphicon-chevron-down"></span></h3></a>
                <ul class="nav nav-sidebar">
                    <li>
                        <ul id="otherDropdown" class="collapse" style="list-style:none;">
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Regions', 'bodyContainer', '');">Regions</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoBoxSets', 'bodyContainer', '');">VideoBoxSets</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Standards', 'bodyContainer', '');">Standards</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'Formats', 'bodyContainer', '');">Formats</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'VideoVersions', 'bodyContainer', '');">VideoVersions</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'AudioTracks', 'bodyContainer', '');">AudioTracks</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'SubtitleTracks', 'bodyContainer', '');">SubtitleTracks</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'ShoppingItems', 'bodyContainer', '');">ShoppingItems</button></li>
                            <li><button class="btn btn-link" onclick="ajaxMethodToElement('Index', 'MediaFiles', 'bodyContainer', '');">MediaFiles</button></li>
                        </ul>
                    </li>
                </ul>
                
            </div>

        </div>
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main background-godzilla1" style="min-height: 1080px;">
        <div id="bodyContainer" class="container body-content back-gloss-light">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p class="strokeme">&copy; @DateTime.Now.Year - Toku Cinema</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/search")

    <script>
    $(document).ready(function () {
        $("input").on("keydown", function search(e) {
            if (e.keyCode == 13) {
                goToView('MovieIndex', 'VideoVersionTypes', $(this).val());
            }
        });
    });
    </script>
</body>

</html>