<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Toku Cinema</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/dashboard-theme/css")
    @Styles.Render("~/Content/jquery-ui.css")
    <script src="~/Scripts/ajax-helpers.js"></script>

</head>
<body class="background-godzilla2">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Toku Cinema", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="strokeme">@Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="contentNav" class="container-fluid strokeme">
        <div class="row">
            <div class="col-sm-3 col-md-2 frontSidebar">
                <h3>Content Navigation</h3>
                <div class="form-group-sm ui-widget">
                    <input id="tagsHome" class="form-control" placeholder="Search...">
                </div>
                @Html.ActionLink(" Movie Info ", "MovieIndex", "VideoMedias", null, new { @class = "btn button-custom specialButton" })
                @Html.ActionLink("Reviews", "Index", "VideoReviews", null, new { @class = "btn btn-custom specialButton" })
            </div>
            
        </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 main" style="min-height: 1080px;">
        <div id="bodyContainer" class="container body-content back-gloss-light">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Toku Cinema</p>
            </footer>
        </div>  
    </div>

        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)

        @*jQuery UI*@
        <script src="~/Scripts/jquery-ui.js"></script>

        @*Tabs*@
        <script>
            $(function () {
                $("#tabs").tabs({
                    collapsible: true
                });
            });
        </script>

</body>
</html>
