@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>    

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>
            <input type="search" id="tags" class="form-control navbar-form navbar-right" placeholder="Search...">
        </li>
    </ul>
}


@Scripts.Render("~/bundles/search")
<script>
    $(document).ready(function () {
        $("#tags, #tagsHome").on("keydown", function search(e) {
            if (e.keyCode == 13) {
                goToView('SearchIndex', 'VideoMedias', $(this).val());
            }
        });        

        // Dynamically pull autocomplete options from VideoVersionType titles
        var availableTags = []; 

        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '/VideoVersionTypes/GetVideoVersionTypeTitleList',
            success: function (outputfromserver) {
                for (var i = 0; i < outputfromserver.length; i++) {
                    availableTags[i] = outputfromserver[i];
                }
            }
        });

        $("#tags, #tagsHome").autocomplete({

            source: availableTags
            
        });
    });
</script>