@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul id="main" class="nav navbar-nav navbar-right">
        <li>
            <img src="~/img/ajax-loader.gif" id="ajaxSpinnerImage" title="Loading content..." style="margin-top: 75%; display: none;">
        </li>
        
        <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        
        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>    

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <img src="~/img/ajax-loader.gif" id="ajaxSpinnerImageNoLog" title="Loading content..." style="margin-top: 75%; display: none;">
        </li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>
            <input type="search" id="tags" class="form-control navbar-form navbar-right" placeholder="Search...">
        </li>
    </ul>
}

@Scripts.Render("~/bundles/search")
<script src="~/Scripts/layoutPartialScript.js"></script>
<script src="~/Scripts/ajax-helpers.js"></script>