@model TokuCinema.Models.VideoVersionType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Video Version Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoVersionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoVersionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoVersionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoVersionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspectRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspectRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterStops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterStops)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @*Don't allow the user to attempt a delete unless the parent record (this record) has no children*@
        if (ViewBag.ChildRecords == 0)
        {
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        else
        {
            <div class="form-actions no-color">
                <h4 class="text-danger">You cannot delete this record at this time. It currently has @ViewBag.ChildRecords child record(s) associated with it.</h4>
            </div>
        }

    }
</div>
