@model TokuCinema.Models.VideoVersionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoVersionType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoVersionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoVersionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoVersionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoVersionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspectRatio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspectRatio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChapterStops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChapterStops)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoVersionTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
