@model IEnumerable<TokuCinema.Models.VideoVersionType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoVersionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoVersionDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VideoVersionTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoVersionDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoVersionTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoVersionTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoVersionTypeId })
        </td>
    </tr>
}

</table>
