@model TokuCinema.Models.VideoReview
@{
    Layout = "~/Views/Shared/_Layout_Front.cshtml";
    ViewBag.Title = "Review Details";
}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Model.VideoVersion.VideoVersionType.VideoVersionTitle</h1>
            <h3>On Release: @TokuCinema.Services.PresentationService.GetReleaseName(Model.VideoVersion.VideoRelease)</h3>
            <!-- Author -->
            <p class="lead">
                by <a href="#">Kiefer Beelman</a> @*TODO: Dynamically pull user name*@
            </p>
            <hr>
            <!-- Date/Time -->
            <!--<p><span class="glyphicon glyphicon-time"></span></p>--> @*TODO: Consider adding date field to reviews - transactional...*@
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" src="http://placehold.it/900x300" alt=""> @*TODO: Once media file situation is worked out - pull an image from the version that has a specific location*@
            <hr>
            <!-- Post Content -->
            @Html.DisplayNameFor(modelItem => modelItem.Introduction)<p class="lead">@Model.Introduction</p>
            <br />
            @Html.DisplayNameFor(modelItem => modelItem.PresentationComments)<p>@Model.PresentationComments</p>
            @Html.DisplayNameFor(modelItem => modelItem.PresentationScore)<p class="lead">@Model.PresentationScore</p>
            @Html.DisplayNameFor(modelItem => modelItem.VideoComments)<p>@Model.VideoComments</p>
            @Html.DisplayNameFor(modelItem => modelItem.VideoScore)<p class="lead">@Model.VideoScore</p>
            @Html.DisplayNameFor(modelItem => modelItem.AudioComments)<p>@Model.AudioComments</p>
            @Html.DisplayNameFor(modelItem => modelItem.AudioScore)<p class="lead">@Model.AudioScore</p>
            @Html.DisplayNameFor(modelItem => modelItem.BonusFeatureComments)<p>@Model.BonusFeatureComments</p>
            @Html.DisplayNameFor(modelItem => modelItem.BonusFeatureScore)<p class="lead">@Model.BonusFeatureScore</p>
            @Html.DisplayNameFor(modelItem => modelItem.VerdictComments)<p>@Model.VerdictComments</p>
            @Html.DisplayNameFor(modelItem => modelItem.VerdictScore)<p class="lead">@Model.VerdictScore</p>
            <hr>
            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>
            <!-- Posted Comments -->
            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <!-- Nested Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <!-- End Nested Comment -->
                </div>
            </div>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Blog Search</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                            <li>
                                <a href="#">Category Name</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

@*<h2>Details</h2>

<div>
    <h4>VideoReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentationComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentationComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentationScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentationScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusFeatureComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusFeatureComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BonusFeatureScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BonusFeatureScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerdictComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerdictComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerdictScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerdictScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoVersion.VideoVersionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoVersion.VideoVersionId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoReviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
