@model IEnumerable<TokuCinema.Models.Medium>

@{
    ViewBag.Title = "Media Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaOfficialTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WikipediaLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaOfficialTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaDescription)
            </td>
            <td>
                <a href="@Html.DisplayFor(model => item.WikipediaLink)" target="_blank">Wikipedia Link</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MediaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MediaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MediaId })
            </td>
        </tr>      
            <tr>
                <th>Video Media</th>
            </tr>
                <tr>
                    <th></th>
                    <th>
                        Release Date
                    </th>
                    <th>
                        Original Aspect Ratio
                    </th>
                    <th>
                        Original Runtime
                    </th>

                    <th></th>
                </tr>
        foreach (var videoItem in item.VideoMedias.Where(vi => vi.MediaId == item.MediaId))
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => videoItem.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => videoItem.OriginalAspectRatio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => videoItem.OriginalRuntime)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = videoItem.VideoMediaId }) |
                    @Html.ActionLink("Details", "Details", new { id = videoItem.VideoMediaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = videoItem.VideoMediaId })
                </td>
            </tr>
        }

    }

</table>*@

@foreach (var item in Model)
{
    <div class="jumbotron row">
        <div class="col-md-4">
            <h1>@item.MediaOfficialTitle</h1>
            <label>@Html.ActionLink(item.MediaId.ToString(), "Edit", new { id = item.MediaId })</label>
            <p class="glyphicon glyphicon-trash">@Html.ActionLink("Delete", "Delete", new { id = item.MediaId })</p><br />
            <a href="@Html.DisplayFor(model => item.WikipediaLink)" target="_blank">Wikipedia Link</a><br />
            <p>@item.MediaDescription</p>
            <hr />
            <p class="glyphicon-plus">@Html.ActionLink("Insert Video Media", "Create", "VideoMedias", new { id = item.VideoMedias.FirstOrDefault().MediaId }, null)</p>
        </div>
        <div>            
                @foreach (var videoMediaItem in item.VideoMedias)
                {
                    <div class="col-md-4">
                        <h2>Video Media Details</h2>
                    <p>@Html.ActionLink(@Html.DisplayFor(modelItem => videoMediaItem.VideoMediaId).ToString(), "Edit", "VideoMedias", new { id = videoMediaItem.VideoMediaId }, null)</p>
                            <p class="glyphicon glyphicon-trash">@Html.ActionLink("Delete", "Delete", "VideoMedias", new { id = videoMediaItem.VideoMediaId }, null)</p><br />
                            <label class="lead">Release Date </label><p>@Html.DisplayFor(modelItem => videoMediaItem.ReleaseDate)</p>
                            <label class="lead">Original Aspect Ratio </label><p>@Html.DisplayFor(modelItem => videoMediaItem.OriginalAspectRatio)<br /></p>
                            <label class="lead">Original Runtime </label><p>@Html.DisplayFor(modelItem => videoMediaItem.OriginalRuntime)</p>
                            <hr />
                        <p class="glyphicon-plus">@Html.ActionLink("Insert Video Release", "Create", "VideoReleases", new { id = item.VideoMedias.FirstOrDefault().MediaId }, null)</p>
                     </div>

                    <h2>Video Release(s)</h2>
                    foreach (var videoReleaseItem in videoMediaItem.VideoReleases)
                    {
                        <div class="col-md-4">
                            <p>@Html.ActionLink(@Html.DisplayFor(modelItem => videoReleaseItem.VideoMediaId).ToString(), "Edit", "VideoReleases", new { id = videoReleaseItem.VideoReleaseId}, null)</p>
                            <p class="glyphicon glyphicon-trash">@Html.ActionLink("Delete", "Delete", "VideoReleases", new { id = videoReleaseItem.VideoReleaseId }, null)</p><br />
                            <label class="lead">Distributor </label><p>@Html.DisplayFor(modelItem => videoReleaseItem.Distributor.DistributorName)</p>
                            <label class="lead">Release Date </label><p>@Html.DisplayFor(modelItem => videoReleaseItem.ReleaseDate)</p>
                            <hr />
                        </div>
                     }
                }
        </div>
    </div>
}