@model IEnumerable<TokuCinema.Models.RegionType>

@{
    ViewBag.Title = "Region Type Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegionDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionTypeId })
        </td>
    </tr>
}

</table>
