@model IEnumerable<TokuCinema.Models.Medium>

@{
    ViewBag.Title = "Index";

    // Entity Context
    TokuCinema.Models.TokuCinema_DataEntities db = new TokuCinema.Models.TokuCinema_DataEntities();

    // Get Media Items
    List<TokuCinema.Models.Medium> medias = db.Media.ToList();

    // Get VideoMedia
    List<TokuCinema.Models.VideoMedia> videoMedias = db.VideoMedias.ToList();

    // Get Video Releases
    List<TokuCinema.Models.VideoRelease> videoRelease = db.VideoReleases.ToList();

    // Get Video Reviews
    List<TokuCinema.Models.VideoReview> videoReviews = db.VideoReviews.ToList();
}

<h2>Admin Index</h2>
<p>Experimental as fuck...</p>

@foreach (TokuCinema.Models.Medium media in medias)
{

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaOfficialTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WikipediaLink)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MediaOfficialTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaDescription)
            </td>
            <td>
                <a href="@Html.DisplayFor(model => item.WikipediaLink)" target="_blank">Wikipedia Link</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MediaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MediaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MediaId })
            </td>
        </tr>

        <tr>

        </tr>
    }

</table>