@model IEnumerable<TokuCinema.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Media.MediaOfficialTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoMedia.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoMedia.OriginalAspectRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoMedia.OriginalRuntime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Media.WikipediaLink)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Media.MediaOfficialTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoMedia.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoMedia.OriginalAspectRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoMedia.OriginalRuntime)
        </td>
        <td>
            <a href="@Html.DisplayFor(model => item.Media.WikipediaLink)" target="_blank">Wikipedia Link</a>
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoMedia.VideoMediaId }) |
            @Html.ActionLink("New Version", "Create", "VideoVersionTypes", new { id=item.VideoMedia.VideoMediaId }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoMedia.VideoMediaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoMedia.VideoMediaId })
        </td>
    </tr>
}

</table>
