@model IEnumerable<TokuCinema.Models.VideoMedia>

@{
    ViewBag.Title = "Video Media Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OriginalAspectRatio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalRuntime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medium.MediaOfficialTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalAspectRatio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalRuntime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medium.MediaOfficialTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoMediaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoMediaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoMediaId })
        </td>
    </tr>
}

</table>
