@model IEnumerable<TokuCinema.Models.VideoVersion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoMediaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoRelease.CatalogCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoVersionType.VideoVersionTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VideoMediaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoRelease.CatalogCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoVersionType.VideoVersionTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoVersionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoVersionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoVersionId })
        </td>
    </tr>
}

</table>
