@model TokuCinema.Models.VideoBoxSetType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoBoxSetType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoBoxSetTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBoxSetTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoBoxSetDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoBoxSetDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoBoxSetTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
