@model TokuCinema.Models.Distributor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Distributor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DistributorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributorDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributorDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DistributorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
