@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="about" class="item-active">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
                    <div class="carousel-inner">
                        <h1>
                            About Toku Cinema
                        </h1>
                        <div class="item active smallTopMargin">
                            <h4>
                                We can talk about all the kick ass technologies we're using for this website here.
                                Maybe even give credit to some of these sites I'm jacking templates from...
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center header smallTopMargin">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                <a href="#team" class="btn button-custom btn-custom-two"> Toku Cinema Team  <span class="glyphicon glyphicon-chevron-down"> </span></a>
               
            </div>
        </div>
    </div>
</div>

<!--TEAM SECTION START-->
<section id="team" class="mediumTopMargin">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Team Members </h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    @*<div class="team-inner" style="background-image: url('../light-switch/assets/img/team/1.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> Leomarid Jona</h3>
                            <h5> <strong> Developer & Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus massa.
                            </p>
                        </div>*@
                </div>
            </div>
            @*Kiefer*@
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('/img/kiefer.jpg')">
                        <a href="https://www.linkedin.com/in/kbeelman" target="_blank"> <i class="fa fa-linkedin-square"></i></a>
                    </div>
                    <div class="description">
                        <h3> Kiefer Beelman </h3>
                        <h5> <strong> Software Developer  </strong></h5>
                        <p>
                            Knows everything that Joey doesn't...
                        </p>
                    </div>
                </div>
            </div>
            @*Joey*@
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('/img/joey.jpeg')">
                        <a href="https://www.linkedin.com/in/josephwbayes" target="_blank"> <i class="fa fa-linkedin-square"></i></a>
                    </div>
                    <div class="description">
                        <h3> Joseph Bayes </h3>
                        <h5> <strong> Software Developer </strong></h5>
                        <p>
                            Knows everything that Kiefer doesn't...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    @*<div class="team-inner" style="background-image: url('../light-switch/assets/img/team/4.jpg')">
                            <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="description">
                            <h3> Leomarid Jona</h3>
                            <h5> <strong> Developer & Designer </strong></h5>
                            <p>
                                Pellentesque elementum dapibus convallis.
                                Vivamus eget finibus massa.
                            </p>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row text-center header">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        <a href="#contact" class="btn button-custom btn-custom-two"> Contact <span class="glyphicon glyphicon-chevron-down"></span></a>
        
    </div>
</div>

   <!--CONTACT SECTION START-->
<section id="contact" class="mediumTopMargin">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Contact Details </h3>
                <hr />

            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>We Are Social</h3>
                    <p>
                        Aliquam tempus ante placerat,
                        consectetur tellus nec, porttitor nulla.
                    </p>
                    <div class="social-below">
                        <a href="#" class="btn button-custom btn-custom-two"> Facebook</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Twitter</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Google +</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Quick Contact</h3>
                    <h4><strong>Email : </strong> wouldntyouliketo@know.com </h4>
                    <h4><strong>Call : </strong> 1 (666) 867-5309 </h4>
                    <h4><strong>Skype : </strong> skypeRaper </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Address : </h3>
                    <h4>230/45 , New way Lane , </h4>
                    <h4>United States</h4>
                    <div class="footer-div">
                        &copy; @DateTime.Now.Year - Toku Cinema | @Html.ActionLink("Toku Cinema", "Index", "Home")
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="row text-center header smallTopMargin">
    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
        @Html.ActionLink("Back to Home Page ", "Index", "Home", new { @class = "btn button-custom btn-custom-two" })
    </div>
</div>

<!--TEAM SECTION END-->