@model TokuCinema.Models.VideoRelease

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoRelease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distributor.DistributorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distributor.DistributorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packaging.PackagingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packaging.PackagingDescription)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoReleaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
