@model TokuCinema.Models.FormatType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormatType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormatDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormatDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormatTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
