@model IEnumerable<TokuCinema.Models.FormatType>

@{
    ViewBag.Title = "Format Type Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FormatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormatDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FormatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormatDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FormatTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FormatTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FormatTypeId })
        </td>
    </tr>
}

</table>
