@model TokuCinema.Models.VideoShoppingItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VideoShoppingItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShoppingItemType.ShoppingItemTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoppingItemType.ShoppingItemTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoRelease.CatalogCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoRelease.CatalogCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoShoppingItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
